<div class="card post">
    <div class="post-icon"><img src="/images/{{image}}" alt="Image"></div>
    <div class="post-author"><a class="author-profile" href="/profile/{{author}}"><h2>{{author}}</h2></a></div>
    <div class="flex-break"></div>
    <div class="post-text"><p>{{content}}</p></div>
    <div class="flex-break"></div>
    <div class="create-comment">
        <form id="create-comment-form">
            <p id="sheesh-count">{{upvoteCount}}</p>
            <input type="button" class="upvote" value="Sheesh">
        </form>
    </div>
</div>