<div class="card post">
    <div class="post-icon"><img src="/images/{{image}}" alt="Image"></div>
    <div class="post-author"><a href="/profile/{{author}}"><h2>{{author}}</h2></a></div>
    <div class="flex-break"></div>
    <div class="post-text"><p>{{content}}</p></div>
    <div class="flex-break"></div>
    <div class="create-comment"><form id="create-comment-form"><input type="button" class="upvote" value="upvote {{upvote-count}}"></form></div>
</div>